.friendsBlock {
    display: flex;
}
.friendItem {
    padding: 0 5px;
}

.friendItem img {
    width: 75px;
    border-radius: 50%;
    background-color: #fff;
    display: block;
}

.friendItem a {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #000;
}
