.app-wrapper {
  margin: 0 auto;
  box-sizing: content-box;
  width: 1400px;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
}

.app-wrapper img {
  width: 100%;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(178, 179, 255);
}
