.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    font-size: 18px;
    padding: 5px 10px;
    color: #666;
}

.dialogItems .active {
    color: indianred;
}
.dialog {
    padding: 10px 5px;
}
.dialog a {
    text-decoration: none;
}
.dialog img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.messages {
    padding: 20px 85px;
    position: relative;
}

.message {
    font-size: 20px;
    color: white;
    position: relative;
}
.message::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: indianred;
    top: 9px;
    left: -15px;
}

.messageCreate {
    position: absolute;
    left: 80px;
    bottom: 20px;
}
